<p style="color: green"><%= notice %></p>

<%= render @repetition %>

<div>
  <%= link_to "Edit this repetition", edit_repetition_path(@repetition) %> |
  <%= link_to "Back to repetitions", repetitions_path %>

  <%= button_to "Destroy this repetition", @repetition, method: :delete %>
</div>
