<div>
  <%= f.label :title, style: "display: block" %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :notes, style: "display: block" %>
  <%= f.text_field :notes %>
</div>
<div>
  <%= f.label :scheduled_at, style: "display: block" %>
  <%= f.date_field :scheduled_at %>
</div>
<div>
  <%= f.submit %>
</div>
