<h1>Editing workout</h1>

<%= form_with(model: @workout) do |form| %>

  <% if @workout.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>
      <ul>
        <% @workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "form", f: form %>

  <h2>Sets</h2>

  <div id="Sets">

    <div class="workout-sets">
      <%= form.fields_for :workout_sets do |workout_set_form| %>
        <%= render "workout_set_fields", f: workout_set_form %>
      <% end %>
    </div>

    <div class="float-start">
      <%= link_to_add_association '<i class="bi bi-plus-circle-fill style="font-size: 2rem"></i>'.html_safe, form, :workout_sets, data: {association_insertion_node: '.workout-sets', association_insertion_method: :append} %>
    </div>

    <div class="float-end">
      <%= button_to "Update", @workout, method: :update, :class => "btn btn-primary" %>
    </div>
    <br>

    <br>

    <div class="float-end">
      <%= link_to '<i class="bi bi-arrow-return-left" ></i>'.html_safe, workouts_path, :class => "btn btn-outline-primary"%>
    </div>
  <% end %>
