<h1>Workouts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Creator</th>
      <th> Modified</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.title %></td>
        <td><%= @users.find(workout.created_by).username %></td>
        <td></td>
        <td>
          <% if current_user.coach? %>
            <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_workout_path(workout) %>
          <% end %>
          <%= link_to '<i class="bi bi-eye"></i>'.html_safe, workout %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="btn btn-outline-primary float-end">
  <i class="bi bi-plus" aria-hidden="true"></i>
  <%= link_to "New Workout", new_workout_path,  :class => "btn" %>
</div>
