<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= render @workout %>
    </tr>
  </tbody>
</table>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Weight(kg)</th>
      <th>Repetitions</th>
      <th>Tempo</th>
      <th>Pause</th>
    </tr>
  </thead>
  <tbody>
    <% @workout.workout_sets.each do |set| %>
      <tr>
        <td><%= set.exercise.title %></td>
        <td><%= set.lift.weight %></td>
        <td><%= set.repetition.count %></td>
        <td><%= set.tempo.duration %></td>
        <td><%= set.pause.length %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<br>

<div>
  <%= link_to "Edit", edit_workout_path(@workout), :class => "btn btn-outline-primary" %>
  <%= link_to "Back", workouts_path, :class => "btn btn-outline-primary"%>

</div>
<br>
<%= button_to "Delete", @workout, method: :delete, :class => "btn btn-danger" %>
