<p style="color: green"><%= notice %></p>

<%= render @tempo %>

<div>
  <%= link_to "Edit this tempo", edit_tempo_path(@tempo) %> |
  <%= link_to "Back to tempos", tempos_path %>

  <%= button_to "Destroy this tempo", @tempo, method: :delete %>
</div>
