<div id="<%= dom_id workout_set %>">
  <p>
    <strong>Workout:</strong>
    <%= workout_set.workout_id %>
  </p>

  <p>
    <strong>Exercise:</strong>
    <%= workout_set.exercise_id %>
  </p>

  <p>
    <strong>Repetition:</strong>
    <%= workout_set.repetition %>
  </p>

  <p>
    <strong>Tempo:</strong>
    <%= workout_set.tempo %>
  </p>

  <p>
    <strong>Pause:</strong>
    <%= workout_set.pause %>
  </p>

</div>
