<%= form_with(model: training_session) do |form| %>
  <% if training_session.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(training_session.errors.count, "error") %> prohibited this training_session from being saved:</h2>

      <ul>
        <% training_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :workout_id, style: "display: block" %>
    <%= form.collection_select :workout_id, Workout.all, :id, :title %>
  </div>

  <div>
    <%= form.label :plan_id, style: "display: block" %>
    <%= form.collection_select :plan_id, Plan.all, :id, :title %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.collection_select :user_id, User.all, :id, :username %>
  </div>

  <div>
    <%= form.label :scheduled_at, style: "display: block" %>
    <%= form.datetime_select :start_time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
