<%= form_with(model: training_session) do |form| %>
  <% if training_session.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(training_session.errors.count, "error") %> prohibited this training_session from being saved:</h2>

      <ul>
        <% training_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :workout_id, class: 'form-label' %>
    <%= form.collection_select :workout_id, Workout.all, :id, :title, { promt: "Select a Workout"}, { class: 'form-select'} %>
  </div>

  <div class="mb-3">
    <%= form.label :plan_id, class: "form-label" %>
    <%= form.collection_select :plan_id, Plan.all, :id, :title, { promt: "Select a Workout"}, { class: 'form-select'} %>
  </div>

  <div class="mb-3">
    <%= form.label :user_id, class: "form-label" %>
    <%= form.collection_select :user_id, User.all.order(:username), :id, :username, { promt: "Select a Workout", default: :current_user }, { class: 'form-select disabled'} %>
  </div>

  <div class="mb-3">
    <%= form.label :start_time, class: "form-label" %>
    <%= form.datetime_select :start_time, as: :date, html5: true, :class => 'form-control' %>
  </div>
  <br>

  <div class="float-start">
    <%= button_to "Create", @training_session, method: :update, :class => "btn btn-primary" %>
  </div>
<% end %>
