<h1>Trainings</h1>

<div class="table-reponsive">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Scheduled</th>
        <th>Workout</th>
        <th>Plan</th>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @training_sessions.each do |tr| %>
        <tr>
          <td><%= tr.start_time %></td>
          <td><%= tr.workout.title %></td>
          <td><%= tr.plan.title %></td>
          <td>
            <% if current_user.coach? %>
              <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_training_session_path(tr) %>
            <% end %>
            <%= link_to '<i class="bi bi-eye"></i>'.html_safe, tr %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="btn btn-outline-primary float-end">
  <i class="bi bi-plus" aria-hidden="true"></i>
  <%= link_to "New Training", new_training_session_path,  :class => "btn" %>
</div>
