<p style="color: green"><%= notice %></p>

<%= render @pause %>

<div>
  <%= link_to "Edit this pause", edit_pause_path(@pause) %> |
  <%= link_to "Back to pauses", pauses_path %>

  <%= button_to "Destroy this pause", @pause, method: :delete %>
</div>
