<div class="card">
  <div class="card-body">
    <h5 class="card-title">Coach <%= current_user.coach.username %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= current_user.coach.email %></h6>
    <p class="card-text">Since: <%= current_user.coach.profile.about_me %></p>
  </div>
</div>
<br>
<table class="table">
  <theaders>
    <th>
      Last Active Time
    </th>
    <th>
      Email 
    </th>
  </theaders>
  <tbody>
    <tr>
      <td><%= current_user.last_sign_in_at %></td>
      <td><%= current_user.email %></td>
    </tr>
  </tbody>
</table>

<div class="container-fluid bg-light">
  <!-- Content here -->

  <%= current_user.profile %>
</div>
