<div>
  <%= f.label :title, style: "display: block" %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :start, style: "display: block" %>
  <%= f.date_field :start %>
</div>

<div>
  <%= f.label :end, style: "display: block" %>
  <%= f.date_field :end %>
</div>

<div>
  <%= f.submit %>
</div>
