<h1>Editing plan</h1>

<%= form_with(model: @plan) do |form| %>

  <% if @plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>
      <ul>
        <% @plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "form", f: @plan %>

  <h2>Sessions</h2>

  <div id="trainingSessions">
    <div class="training-sessions">
      <%= form.fields_for :training_sessions do |training_sessions_form| %>
        <%= render "training_session_fields", f: training_sessions_form %>
      <% end %>
    </div>
    <div class='links'>
      <%= link_to_add_association "add new Set", form, :training_sessions, data: {association_insertion_node: '.training-sessions', association_insertion_method: :append} %>
    </div>
  </div>

  <br>

  <div>
    <%= link_to "Show this plan", @plan %> |
    <%= link_to "Back to plans", plans_path %>
  </div>
<% end%>
