<p style="color: green"><%= notice %></p>

<div id="plans" class="container-fluid">
  <h1>Plans</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Starts</th>
        <th>Ends</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td>
            <%= plan.title %>
          </td>

          <td>
            <%= plan.start %>
          </td>

          <td>
            <%= plan.end %>
          </td>

          <td>
            <%= plan.workouts.count %>
          </td>
          <td>
            <%= link_to '<i class="bi bi-eye"></i>'.html_safe, plan %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<div class="btn btn-outline-primary">
  <%= link_to 'New Plan', new_plan_path(@plan), :class => "btn" %>
</div>
