<%= form_with(model: exercise) do |form| %>
  <% if exercise.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_field :notes %>
  </div>

  <br>
  <div class="float-start">
    <%= button_to "Create", @exercise, method: :update, :class => "btn btn-primary" %>
  </div>
<% end %>
