<!DOCTYPE html>
<html>
  <head>
    <title>ProStrength</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag  "application", "jquery", "data-turbo-track": "reload", defer: true  %>
    <%= javascript_importmap_tags %>

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">

        <%= render "layouts/navigation" %>

        <div class="col-sm p-3 min-vh-100">
          <%= render "layouts/messages" %>
          <%= yield %>
        </div>

      </div>
    </div>
  </body>
</html>
