<!DOCTYPE html>
<html>
  <%= render "layouts/header" %>
  <body>
    <%= render "layouts/svg_symbols" %>

    <div class="container-fluid">
      <div class="row">

        <%= render "layouts/navigation" %>

        <div class="col-sm p-3 min-vh-100">
          <div class="container-sm">
            <%= render "layouts/messages" %>
            <%= yield %>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
